<section class="content-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                {% set route=app.request.attributes.get('_route') %}
                <li {% if route=='fiche_fournisseur_achat_document' %} class="active" {% endif %}>
                    <a {% if route!='fiche_fournisseur_achat_document' %} href="{{ path('fiche_fournisseur_achat_document',{'id':fournisseur.id}) }}" {% endif %}>
                        <span class="fa fa-eye"></span> Etat d'achat par document
                    </a>
                </li>
                <li {% if route=='fiche_fournisseur_achat_article' %} class="active" {% endif %}>
                    <a {% if route!='fiche_fournisseur_achat_article' %} style="color: black" href="{{ path('fiche_fournisseur_achat_article',{'id':fournisseur.id}) }}" {% endif %}>
                        <span class="fa fa-eye"></span> Etat d'achat par article
                    </a>
                </li>
                <li {% if route=='fiche_fournisseur_reglements' %} class="active" {% endif %}>
                    <a {% if route!='fiche_fournisseur_reglements' %} style="color: black" href="{{ path('fiche_fournisseur_reglements',{'id':fournisseur.id}) }}" {% endif %}>
                        <span class="fa fa-eye"></span> Réglements
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</section>